<div class="top_nav">
     <div class="container">
          <div class="row">
               <div class="col-md-6">
                    <div class="top_nav_left">Livrare gratuită la toate comenzile peste 1000lei</div>
               </div>
               <div class="col-md-6 text-right">
                    <div class="top_nav_right">
                         <ul class="top_nav_menu">

                              <!-- Currency / Language / My Account -->

                              <li class="currency">
                                   <a href="#">
                                        lei
                                        <i class="fa fa-angle-down"></i>
                                   </a>
                                   <ul class="currency_selection">

                                        <li><a href="#">ron</a></li>
                                        <li><a href="#">eur</a></li>
                                        <li><a href="#">usd</a></li>
                                   </ul>
                              </li>
                              <li class="language">
                                   <a href="#">
                                        Română
                                        <i class="fa fa-angle-down"></i>
                                   </a>
                                   <ul class="language_selection">
                                        <li><a href="#">French</a></li>
                                        <li><a href="#">English</a></li>
                                        <li><a href="#">Spanish</a></li>
                                   </ul>
                              </li>
                              <li class="account">
                                   <a href="#">
                                        Contul meu
                                        <i class="fa fa-angle-down"></i>
                                   </a>
                                   <ul class="account_selection">
                                        <li><a href="#"><i class="fa fa-sign-in" aria-hidden="true"></i>Conectare</a></li>
                                        <li><a href="#"><i class="fa fa-user-plus" aria-hidden="true"></i>Înregistează-te</a></li>
                                   </ul>
                              </li>
                         </ul>
                    </div>
               </div>
          </div>
     </div>
</div>